extends ./parts/layout.jade

block vars 
    - var bodyClass = 'form'

block scripts
    script.
        $(document).ready(function(){

            $('#number').inputmask('1|7|6-999-999-99-99');
            console.log('go ',findGetParameter('candidate'));
            if(findGetParameter('candidate')=='hillary'){
                console.log('hhhh');
                $("#side-0").prop("checked", true);
            }else{
                console.log('dddd');
                $("#side-1").prop("checked", true);
            }

            $('input[name="side"]').change(function(){
                if($(this).val()=='0'){
                    $('input[name="subj"]').val('Clinton is ');
                }else{
                    $('input[name="subj"]').val('Trump is ');
                }
            });
  
        });
        
block content 
    .container.start
        #vision
            h2.title-big Spread your vision
            p.title-text You’ll get an incoming call, when we find an opponent for you. <br/> Completely private: you’ll never see each other phone numbers. <br/> Debate is only 2 minutes long. Consists of 30 seconds parts.
        #search
            h2.title-big The call will be placed soon!
            p.title-text You’ll get an incoming phone call in a couple of seconds.<br/> <b>Do not close this page</b>, we will redirect you to a debate recording after.       
        h3.rules-header Rules
        ul.rules-ul
            li Listen to a referee and speak at your time
            li Battle recording will be published on this website
            li Publication can be anonymous or signed with your Twitter profile
            li Respect your opponent
            li Battles with explicit content will be banned
    
        form#queueForm
            h3.form-title Choose your candidate
            div.radio-container
                input(type='radio'
                    name='side'
                    value=0
                    id="side-0"
                    checked=(req.query.candidate == "hillary"))
                label(for='side-0')
                    | Clinton

                
                input(type='radio'
                    name='side'
                    value=1
                    id='side-1'
                    checked=(req.query.candidate == "donald"))
                label(for='side-1')
                    | Trump

            div 
                div(style='text-align:left;padding-left:30px;margin-top:20px;') Your main point:

                input.form-input( type='text'
                    name='subj'
                    id='subj'
                    value=(req.query.candidate == "donald" ? 'Trump is' : 'Clinton is')
                    placeholder='Your main point'
                    required
                )  

            div 
                input.form-input( type='phone'
                    name='number'
                    id='number'
                    placeholder='Phone number'
                    value="1"
                    required
                )
            div 
                input.form-input( type='text'
                    name='nickname'
                    id='nickname'
                    placeholder='Nickname'
                    required
                )              
              
                
            div
                input.form-btn(type="submit" value="Start a Debate")
            div.terms Pressing the button you agree that your call will be recorded and published

        .title(style='text-align:center;') DebatesClub.com privacy policy
        ul.rules-ul
            li We never share your phone number with opponent or anyone
            li We do not store your phone number 
            li Your call will be recorded and published on this website
