extends ./parts/layout.jade

block content

    .content
        .container
            
            h1 Share your opinion
            h2 
                | Participate in anonymous phone debate
                br 
                | Explain why you support Trump or Clinton
                
            div.start-box 
                .title Start a 2 min debate
                p With a random opponent

                .buttons
                    a(href="/start?candidate=donald").button 
                        p Support
                        .name Donald
                        
                    a(href="/start?candidate=hillary").button 
                        p Support
                        .name Hillary
                        
            div.vote-box.trump
                span 0
                p total votes
            div.vote-box.clinton
                span 0
                p total votes

    include ./parts/playlist
