extends ./parts/layout


block footer
block vars 
    - var bodyClass = 'single'
block content 
    .content
        .container 

            h1= conv.title
            
            .player-container
                span.date
                
                span.votes(class=(conv.TRUMP.rates >= conv.CLINTON.rates ? 'winning' : 'losing'))= conv.TRUMP.rates
                
                span= conv.TRUMP.nickname || 'Anonymous'
                a.sm2_button(href=conv.record) &nbsp;
                span= conv.CLINTON.nickname || 'Anonymous'
                
                span.votes(class=(conv.CLINTON.rates >= conv.TRUMP.rates ? 'winning' : 'losing'))= conv.CLINTON.rates
                
                
            .share
                | Share:
                
                a.soc.fb(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//debatesclub.com/conversation/" + conv.id+ "/view" target="_blank")
                a.soc.tw(href="https://twitter.com/home?status=http%3A//debatesclub.com/conversation/" + conv.id+ "/view" target="_blank")
                a.soc.gp(href="https://plus.google.com/share?url=http%3A//debatesclub.com/conversation/" + conv.id+ "/view" target="_blank")
                
                a(href="#" data-clipboard-text="http://debatesclub.com/conversation/" + conv.id+ "/view") copy a link
                    
            include ./parts/comments

            

    include parts/playlist
    
