


<%
    var voted = (Cookies.getJSON('voted') && Cookies.getJSON('voted').indexOf(id) > -1);

    trumpVoted = voted && Cookies.getJSON('voted').indexOf(TRUMP.id) > -1 ? "voted" : ""
    clintonVoted = voted && Cookies.getJSON('voted').indexOf(CLINTON.id) > -1 ? "voted" : ""



 %>
<div class="player-container">
    <% if(leader){ %>

        <% if(leader=="top"){ %>
            <div class="player-top">
            #1 Debate <img src="/img/cup.PNG" alt="" style="vertical-align: middle;margin-bottom: 5px;">
            </div>
        <% }else if(leader=="trending"){ %>
        <div class="player-top">
            Trending <img src="/img/fire.PNG" alt="" style="vertical-align: middle;margin-bottom: 5px;">
            </div>
        <% } %>

    <% } %>


	<div class="player-side player-left">
		<span class="votes <%= TRUMP.rates >= CLINTON.rates ? 'winning' : 'losing'%> <%= trumpVoted %>" data-conv="<%= id %>" data-queue="<%= TRUMP.id %>"><%= TRUMP.rates %></span>

	    <span class="info">
	        <% if(TRUMP.subj) { %>
	            <%= TRUMP.subj %>
	            <span class="by by-trump">by <%= TRUMP.nickname || 'Anonymous' %></span>
	        <% } else if(TRUMP.nickname) { %>
	            <%= 'by ' + TRUMP.nickname %>
	        <% } else {%>
	            <%= 'by Anonymous' %>
	        <% } %>
	    </span>
	</div>



    <a href="<%= record %>" class="sm2_button">&nbsp;</a>

	<div class="player-side player-right">

	    <span class="info">
	        <% if(CLINTON.subj) { %>
	            <%= CLINTON.subj %>
	            <span class="by by-trump">by <%= CLINTON.nickname || 'Anonymous' %></span>
	        <% } else if(CLINTON.nickname) { %>
	            <%= 'by ' + CLINTON.nickname %>
	        <% } else {%>
	            <%= 'by Anonymous' %>
	        <% } %>
	    </span>

	    <span class="votes <%= CLINTON.rates >= TRUMP.rates ? 'winning' : 'losing'%> <%= clintonVoted %>" data-conv="<%= id %>" data-queue="<%= CLINTON.id %>"><%= CLINTON.rates %></span>
	</div>



    <br>
    <span class="conversation-comments">
        <a href="http://debatesclub.com/conversation/<%= id %>/view/#disqus_thread">Comment</a>
    </span>
    <a class="share" href="/conversation/<%= id %>/view">Share</a>
    <span class="date"><%= date %></span>


</div>
