
.callmaker 
    .container
        img(src="/img/left-banner.PNG")
        .title At Callmaker.net we love phone calls
        p As the best way to have meaningful conversations. <br/>Callmaker.net helps businesses provide incredible phone <br/>experience and increase inbound sales. Got a website?
        a(href="//callmaker.net" target="_blank") Learn more
        
        span.clearfix


block footer

    .comments 
        .container
            include ./comments
            
.links
    .container
        a(href="mailto:info@debatesclub.com") info@debatesclub.com
        br
        br
        a(href="/Debates-Club-Terms-of-use.pdf") Terms of use
        br
        br
        span 2016 Debatesclub.com





#fb-root



                                
script(id="dsq-count-scr",src="//debatesclub-com.disqus.com/count.js",async)

script(type='text/javascript').
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    var disqus_config = function () {
    this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    setInterval(function(){
        console.log('goo');
        
    },5000);
    console.log('window.location ',window.location.href,window.location.pathname);

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//debatesclub-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=243943415633227";
        //- js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=150261248774414";

        
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'))
