
header
    .container
        a(href="/").site-title 
            | DebatesClub
            span .com
        div.logo
            a(href="http://callmaker.net", target="_blank")
                img(src="/img/logo.png")
            
        .clearfix
