doctype html

html

    block vars
        - var bodyClass = 'main'
    head
        block title
        



        title DebatesClub | Share your vision and support Hillary or Donald
        meta(name='description', content='Share your vision about Hillary or Donald support.Take part in a 2 minutes phone debate or watch how others do so.')
        meta(property="og:url",content="http://debatesclub.com")
        meta(property="og:type",content="website")
        meta(property="og:title",content="DebatesClub.com")
        meta(property="og:description",content="Take part in 2 minutes phone debates right now and finally spread the word. Share everything you wanted to say about the elections.")
        meta(property="og:image",content="http://debatesclub.com/DebatesClub-Facebook-Share.png")  

        link(rel='stylesheet' href='/styles/default.css')
        link(rel='stylesheet' href='/styles/style.css')
        
        link(href="/favicon.ico",rel="icon",type="image/x-icon")

        block styles

        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KJQJDT');
    
    body(class=bodyClass)
        include ./header.jade
        
        block content
        include ./footer.jade
            


        script(src="//code.jquery.com/jquery-3.1.1.min.js")
        script(src="//underscorejs.org/underscore-min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js")
        script(src="/js/soundmanager2.js")
        script(src="/js/inputmask.js")
        script(src="/js/jquery.inputmask.js")
        script(src="/js/mp3-player-button.js")
        script(src="/js/main.js")
        script(type="text/javascript",src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58134b736688c2b8") 


        block scripts
        
