
.playlists
    .container
        .leaderboard.pl
            .pointer
            .title Explore the most popular debates
            p 
                | Press 
                span(style="font-weight:bold;color:#23c478") play, 
                | upvote the best ones
            
            .list.leaderboard-playlist
            
            a.more.leaderboard-more show more...

        .newest.pl
            .title Newest
            p Upvote best speakers and help them get to Leaderboard

            
            .list.newest-playlist
            
            a.more.newest-more show more...
