
/* http:http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family:'GothamPro';
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Light_gdi.eot');
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Light_gdi.woff') format('woff'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Light_gdi.ttf') format('truetype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Light_gdi.svg#GothamPro') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;}
@font-face {
	font-family:'GothamPro';
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro_gdi.eot');
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro_gdi.eot?#iefix') format('embedded-opentype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro_gdi.woff') format('woff'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro_gdi.ttf') format('truetype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro_gdi.svg#GothamPro') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;}
@font-face {
	font-family:'GothamPro';
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Medium_gdi.eot');
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Medium_gdi.woff') format('woff'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Medium_gdi.ttf') format('truetype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Medium_gdi.svg#GothamPro') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;}
@font-face {
	font-family:'GothamPro';
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Bold_gdi.eot');
	src: url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Bold_gdi.woff') format('woff'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Bold_gdi.ttf') format('truetype'),
		url('http://callmaker.net/wp-content/themes/callmaker/newmain/fonts/GothamPro-Bold_gdi.svg#GothamPro') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;}

.clearfix {
    clear: both;
}

.clearfix:after, .wrapper:after, .content:after, header:after, footer:after, .table-rates__tr:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h1, h2, h3 {
    text-align: center;
}

body {
    font-family: "GothamPro", sans-serif;
	color: #1e3c78;
}
