
.main {
    background: transparent url(../img/head.png) 50% top no-repeat;
}

#queueForm {
    padding: 20px;
}
.button{
    cursor:pointer;
    text-decoration: none;
    color:#fff;
}

header {
    background: transparent url(../img/header.png) 50% -23px no-repeat;
    color: #FFF;
}


.container {
    width: 1033px;
    margin: 0 auto;
    position: relative;
}

header .site-title {
    color:#fff;
    text-decoration: none;
    transform: rotate(2deg);
    float: left;
    font-size: 33px;
    /*font-family: "GothamProBold", sans-serif;*/
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding: 42px 33px;
    letter-spacing: .7px;
}
header .site-title span {
    font-size: 20px;
}

header .logo {
    padding: 40px 0;
    float: right;

}

.main .content {

    color: #FFF;
}
.content h1 {
    font-size: 39px;
        text-align: center;
        font-weight: bold;
        padding: 29px 0 0;
}

.content h2 {
    font-size: 22px;
    line-height: 27px;
    padding: 9px;
}


.title {
    font-size: 25px;
    font-weight: bold;
}

p {
    padding: 3px;
    font-size: 18px;
}

.start-box {
    border: 1px solid #000;
    border-radius: 5px;
    background: #0a58c4;
    width: 308px;
    margin: 43px auto 0;
    text-align: center;
    padding: 32px 44px 27px;
}
.start-box .buttons {
    overflow: hidden;
    margin-top: 20px;
    padding: 0 5px 0;
    background: #1a915a;
    border-radius: 5px;


}

.start-box .button {
    padding: 43px 0;
    height: 134px;
    width: 50%;
    box-sizing: border-box;
    background: #23c478;
    float: left;
    border-radius: 5px;
    margin-bottom: 7px;

}
.start-box .button:hover {
    margin-top: 1px;
    margin-bottom: 1px;
}

.start-box .button:active {
    margin-top: 3px;
    margin-bottom: 3px;
}


.start-box .button:first-child {
    border-right: 1px solid #1a915a;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.start-box .button:last-child {
    border-left: 1px solid #1a915a;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.start-box .button .name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 3px;
}

.vote-box {
    position: absolute;
    top: 370px;
    left: 80px;
    padding: 16px 0;
    border: 5px solid #23c478;
    border-radius: 5px;
    background: #1e3c78;
    width: 139px;
    text-align: center;
}
.vote-box.clinton {
    right: 80px;
    left: auto;
    border-color: #d41b45;
}
.vote-box span {
    font-size: 38px;
    font-weight: bold;
}

.playlists, .single .content {
    text-align: center;

}

.player-container {

        font-weight: bold;
        font-size: 18px;
        line-height: 28px;

}
.player-container .player-side {
    display: inline-block;
    width: 435px;

}
.player-container .player-side.player-left {
    text-align: right;
}
.player-container .player-side.player-right {
    text-align: left;
}
.player-container:after {
    display: block;
    margin: 10px auto;
    content: "";
    width: 500px;
    border-bottom: 1px solid #8fb9c9;
}
.player-container a,
.player-container span {
    display: inline-block;
}


.player-container .info {
    position: relative
}
.player-container .info .by {
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 12px;
    font-weight: normal;
}

.player-container .info .by-clinton {
    left: 0px;
    right: auto;

}

.player-container .share,
.player-container .date,
.player-container .conversation-comments {
    font-size: 14px; font-weight: normal;
    color: inherit;
}

.player-top{
    font-size: 12px;
    height: 16px;
    font-weight: 400;
}
.conversation-comments, .conversation-comments a{
    color:rgb(30, 60, 120) !important;
}
.fb-comments-count{
    font-weight:bold;
    text-decoration: underline;
}
.pointer {
    width: 81px;
    height: 42px;
    position: absolute;
    top: 51px;
    left: 436px;
    background: transparent url(../img/share.png) 50% 50% no-repeat;

}


.sm2_button {
    height: 37px;
    padding-left: 35px;
    display: inline-block;
    background: transparent url(../img/playerbtn-green.png) top left no-repeat;
    text-decoration: none;
    color: inherit;
    margin-left: 8px;
    /*font-weight: bold;
    font-size: 18px;
    line-height: 35px;*/

}

.sm2_button.sm2_paused,
.sm2_button.sm2_playing {
    padding-left: 40px;
}


.sm2_button.sm2_playing {
    background: transparent url(../img/playerbtn-green-pause.png) top left no-repeat;
}

.pl {
    margin-top: 60px;
}
.pl .list {
    margin: 28px;
}

.more {
    color: #8fb9c9;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.more:hover {
    text-decoration: none;
}

.player-container {
    padding: 6px 0;
}

.player-container .votes {
    border: 1px solid #8fb9c9;
    border-radius: 4px;
    font-weight: normal;
    height: 30px;
    width: 64px;
    line-height: 24px;
    padding: 2px 0 2px 11px;
    box-sizing: border-box;
    margin: 10px 5px 0;
    font-size: 16px;
    background: #FFF 9px 9px no-repeat;
    cursor: pointer;
    text-align: center;


}


.player-container .votes.winning {
    color: #23c478;
    position: relative;
    background-image: url(../img/vote-win.png)
}
.player-container .votes.losing {
    color: #cf4e39;
    position: relative;
    background-image: url(../img/vote-lose.png)
}
.votes.losing::after{
    content:'losing';
    font-size: 10px;
    top: 24px;
    position: absolute;
    left: 15px;
    color: #1e3c78;
    opacity: 0.7;
}
.votes.winning::after{
    content:'winning';
    font-size: 10px;
    top: 24px;
    position: absolute;
    left: 15px;
    opacity: 0.7;
    color: #1e3c78;
}

.player-container .votes.voted {
    background-color: #8fb9c9;
    color: #FFF;
}

.callmaker {
    background: #0a58c4;
    color: #FFF;
    margin-top: 42px;
    padding-bottom: 10px;

}

.callmaker img {
    float: left;
    margin: 25px 26px 0 36px;

}

.callmaker .title {
    padding: 30px 0 7px;
}
.callmaker p {
    padding: 4px 0;
    line-height: 23px;

}

.callmaker a {
    text-decoration: none;
    background: #1ec476;
    border: 3px solid transparent;
    border-radius: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px 0;
    width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-color: #06a75b;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);


}

.callmaker a:hover {
    margin-top: 12px;
    border-bottom-width: 2px;
}





.comments, .links{
    background: #063270;
    padding: 20px 0;
}
.comments-c{
    background: #fff;
    width: 750px;
    padding: 10px;
    margin: 20px auto;
}
.comments h2{
    color:#fff;
}

.links{
    text-align: center;
    color:#8ab0e5;
}
.links a{
    color:#8ab0e5;
}
.links a:hover{
    opacity:0.8;
}


/*
    START
*/
.start{

}
.title-big{
    font-size: 38px;
    color:#1e3c78;
    font-weight: bold;
    margin:20px 0;
}
.title-text{
    text-align: center;
    line-height: 24px;
}
.rules-header{
    margin-top: 30px;
    color:#d41b45;
    font-weight: bold;
    font-size: 18px;
}
.rules-ul{
    list-style:disc ;
    padding-top: 20px;
    padding-left: 300px;
}
.rules-ul li{
    line-height: 22px;
}

#queueForm{
    text-align: center;
    margin:20px auto;
    background: #0a58c4;
    width: 400px;
    border-radius: 2px;
    color:#fff;
}
.form-title{
    color:#fff;
    margin-bottom: 10px;
}
#queueForm .form-input{
    font-size: 16px;
    background: #fff;
    border-radius: 40px;
    width: 80%;
    height: 40px;
    padding-left: 20px;
    border:none;
    outline: none;
    margin: 10px 0;
}
.form-btn{
    width:85%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background: #2BC47D;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 41px;
    letter-spacing: 1px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.15), 0 2px 1px rgba(0,0,0,.1);
    transition: all 0.2s;
}
.form-btn:hover{
    box-shadow:none;
}
#queueForm .terms{
    color:#fff;
    font-size: 10px;
    margin-top: 10px;
}
.radio-container input{
    display:none;
}
.radio-container label{
    margin: 5px 10px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #4bc1aa;
    border-radius: 50px;
    padding: 16px 15px 16px 46px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    letter-spacing: 1.5px;
    opacity:0.5;
}
.radio-container input:checked + label{
    opacity:1;
}

.radio-container input:checked + label:before {
    background-position-x: -20px;
}

.radio-container label:before {
    display: inline-block;
    content: "";
    height: 20px;
    width: 20px;
    background: transparent url(http://callmaker.net/wp-content/themes/callmaker/newmain/img/tariffs-radio.png) top left no-repeat;
    position: absolute;
    top: 13px;
    left: 12px;
}

#search{
    display: none;

}


.single .content {
    border-bottom: 1px solid #000;

}
.single .content h1 {
    padding: 55px 0 14px;
}

.single .content .share .soc {
    width: 27px;
    height: 26px;
    background: transparent url(../img/socials.png) left top no-repeat;
        margin: 0 4px -7px;
}
.single .content .share .soc.tw {
    background-position-x: -27px;
}
.single .content .share .soc.gp {
    background-position-x: -54px;
}
.single .content .share,
.single .content .share a {
    display: inline-block;
    color: #8fb9c9;
    font-size: 18px;
    line-height: 29px;

}
.single .content .share a:hover {
    text-decoration: none;
}
.single .content .share {
    padding: 19px 0 74px;
}

.single header, .single .content {
    background-color: #f2f8ff;
}


.pl .leaderboard-playlist {
    margin-top: 64px;
}
